* {
  --border-radius: 0px;
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bobbins img {
  transform: rotate(var(--rotation));
}

@font-face {
  font-family: 'Caveat';
  src: url('./fonts/caveat.ttf') format('opentype');
}

#bottom {
  background-color: #dededc;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  height: 60px;
  border: 3px solid #5a6569;
  border-top: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#top {
  display: flex;
  flex-direction: row;
}

#top > div {
  background-color: #657886;
  height: 270px;
  border: 3px solid #4e5d67;
}

#top #left {
  border-top-left-radius: var(--border-radius);
  flex-grow: 1;
  position: relative;
}

#top #right {
  border-top-right-radius: var(--border-radius);
  border-left: none;
  width: 75px;
  -webkit-app-region: drag;
  position: relative;
}

#walkman {
  position: absolute;
  transform: rotate(90deg);
  top: 60px;
  left: -25px;
}

#sony {
  position: absolute;
  transform: rotate(90deg);
  top: 115px;
  right: -25px;
}

#arrow {
  position: absolute;
  bottom: 50px;
  left: 180px;
}

#cassette {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(246, 244, 230, 1) 30%,
    rgba(215, 110, 104, 1) 30%,
    rgba(215, 110, 104, 1) 31%,
    rgba(246, 244, 230, 1) 31%,
    rgba(246, 244, 230, 1) 38%,
    rgba(215, 110, 104, 1) 38%,
    rgba(215, 110, 104, 1) 41%,
    rgba(246, 244, 230, 1) 41%,
    rgba(246, 244, 230, 1) 48%,
    rgba(215, 110, 104, 1) 48%,
    rgba(215, 110, 104, 1) 53%,
    rgba(246, 244, 230, 1) 53%,
    rgba(246, 244, 230, 1) 61%,
    rgba(215, 110, 104, 1) 61%,
    rgba(215, 110, 104, 1) 66%,
    rgba(246, 244, 230, 1) 66%,
    rgba(246, 244, 230, 1) 74%,
    rgba(215, 110, 104, 1) 74%,
    rgba(215, 110, 104, 1) 79%,
    rgba(246, 244, 230, 1) 79%,
    rgba(246, 244, 230, 1) 87%,
    rgba(215, 110, 104, 1) 87%
  );
  border: 3px solid #4e5d67;
  border-radius: var(--border-radius);
  width: 250px;
  height: 100px;
  top: 70px;
  left: 88px;
}

#title {
  font-family: 'Caveat', cursive;
  color: #666688;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 22px;
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bobbin-left, #bobbin-right {
  background-color: #9e9e9e;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  box-sizing: content-box;
  border-color: #3e393f;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bobbin-left {
  left: -10px;
  border-width: 45px;
  transform: translate(-45px, -45px);
}

#bobbin-right {
  right: -10px;
  border-width: 10px;
  transform: translate(10px, -10px);
}

#bobbins {
  width: 220px;
  height: 60px;
  position: absolute;
  left: 12px;
  bottom: 6px;
  overflow: hidden;
  background-color: #52494e;
  border: 2px solid #3e3735;
}

.icon {
  filter: invert(43%) sepia(24%) saturate(340%) hue-rotate(163deg) brightness(100%) contrast(84%);
  cursor: pointer;
  transition: filter 250ms ease;
}

.icon:hover {
  filter: invert(34%) sepia(6%) saturate(1116%) hue-rotate(161deg) brightness(99%) contrast(92%);
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
  filter: invert(34%) sepia(6%) saturate(1116%) hue-rotate(161deg) brightness(99%) contrast(92%);
  transition: filter 250ms ease;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#close:hover {
  filter: invert(18%) sepia(6%) saturate(1528%) hue-rotate(161deg) brightness(95%) contrast(88%);
}